{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}

{% block title %}
    {% with 'title' as expectedVarName %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block carousel %}
    {% with 'carousel' as expectedVarName %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body_block %}

    <div class="side-navigation col-md-4" id="sidebar">
        <ul class="nav nav-pills nav-stacked" id="sidebarNav" data-spy="affix">
            {% for story in story_list %}
                <li><a href="#{{ story.id }}">{{ story.headline }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="main-body">

        {% for story in story_list %}

            <div class="row featurette">

                <h2 class="featurette-heading" id="{{ story.id }}">
                    {{ story.headline }}
                </h2>

                {% if story.type == "text" %}

                    {% for paragraph in story.text %}
                        <p style="{{ story.style }}" class="lead">{{ paragraph }}</p>
                    {% endfor %}

                {% endif %}

                {% if story.type == "table" %}

                    {% for lead in story.lead %}
                        <p class="lead">{{ lead }}</p>
                    {% endfor %}

                    <table class="table {{ story.class }}" style="text-align: center">
                        {% for row in story.text %}
                            <tr>
                                {% for column in row %}
                                    <td>
                                        {{ column }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>

                {% endif %}

                {% if story.type == "html" %}
                    {% autoescape off %}
                        {{ story.text }}
                    {% endautoescape %}
                {% endif %}

            </div>

            <hr class="featurette-divider">

        {% endfor %}

        {% block additions_block %}{% endblock %}

    </div>

{% endblock %}