{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{%  block body_block %}
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!--li data-target="#myCarousel" data-slide-to="2"></li-->
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="{% static "Images/carouselEx1.jpg"%}" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>NUPP 2017</h1>
                    <p>Jury’s Inn, Croydon, London, UK<br>
                        6th - 8th February 2017</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="{% static "Images/carouselEx2.jpg"%}" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>NUPP 2017</h1>
                    <p>1st International Conference on Nuclear Power Plants; Structures, Risk & Decommissioning</p>
                </div>
            </div>
        </div>
        <!--div class="item">
            <img class="third-slide" src="Images/carouselEx3DONOTUSE.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>NUPP 2017</h1>
                    <p>Addressing the structural analysis design, risk analysis and decommissioning technologies
                        employed in nuclear power plants.</p>
                </div>
            </div>
        </div-->
    </div>
</div><!-- /.carousel -->

<!-- fix for mobile devices-->
<div class="side-navigation col-md-4" id="sidebar">
    <ul class="nav nav-pills nav-stacked" id="sidebarNav" data-spy="affix">
        <li><a href="#myCarousel">Overview</a></li>
        <li><a href="#about">About NUPP 2017</a></li>
        <li><a href="#conferenceThemes">Conference Themes</a></li>
        <li><a href="#organisingCommittee">Organising Committee</a></li>
        <li><a href="#internationalAdvisoryCommittee">International Advisory Committee</a></li>
        <li><a href="#keyDates">Key Deadlines</a></li>
    </ul>
</div>

<!-- START THE FEATURETTES -->

<div class="main-body">

    <hr class="featurette-divider">

    <div class="row featurette">

        <h2 class="featurette-heading" id="about">About NUPP 2017</h2>
        <p class="lead">Many countries are currently constructing or are in the planning/designing stage of building
            nuclear power plants. This is primarily to move away from the depleting fossil fuel and in an attempt to
            combat climate change. However, design construction and operation of these structures poses particular
            challenge with respect to handling radioactive material. The conference aims to bring together researchers,
            practitioners to address the structural analysis design, risk analysis and decommissioning technologies
            employed in the nuclear power plant. This will involve advanced analysis both for strength and load model
            in order to establish safety level. Probabilities and risk analysis form the basis for the safety of Nuclear
            Power Plant, the analysis dictate the chances for the reactor in failing in incidents of natural or external
            incidents. Removal and closure of a plant is also pivotal to the face of Nuclear Energy, in giving
            confidence
            to the public. This conference presents the perfect opportunity for you, as it aims to provide an ideal
            platform
            for industry leading researchers, technology developers, industrial players and supply chain partners to
            converge.</p>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">

        <h2 class="featurette-heading" id="conferenceThemes">Conference Themes</h2>
        <table class="table" style="text-align: center">
            <tr>
                <td>Advanced Structural Analysis</td>
            </tr>
            <tr>
                <td>Containment Design</td>
            </tr>
            <tr>
                <td>Non - Containment Design</td>
            </tr>
            <tr>
                <td>Thermal Effects</td>
            </tr>
            <tr>
                <td>Non - Linear Analysis</td>
            </tr>
            <tr>
                <td>Structural Integrity</td>
            </tr>
            <tr>
                <td>Lifetime Behaviour</td>
            </tr>
            <tr>
                <td>Risk Analysis and Retrabitrty</td>
            </tr>
            <tr>
                <td>Probabilistic Seismic Hazard</td>
            </tr>
            <tr>
                <td>Risk Management</td>
            </tr>
            <tr>
                <td>Decommissioning Technology</td>
            </tr>
            <tr>
                <td>Characterisation techniques in nuclear decommissioning</td>
            </tr>
            <tr>
                <td>Remote handling and radioactive waste management</td>
            </tr>
            <tr>
                <td>Radiation detection instrumentation and imaging</td>
            </tr>
            <tr>
                <td>Robotics and autonomous systems in decommissioning</td>
            </tr>
            <tr>
                <td>Regulations and Licensing</td>
            </tr>
        </table>

    </div>

    <hr class="featurette-divider">
    <!--Possibly use circle images in style of original template-->
    <div class="row featurette">
        <h2 class="featurette-heading" id="organisingCommittee">Organising Committee</h2>
        <div class="lead" style="text-align: center;">
            <p>Purnendu Das</p>
            <p>ASRANet Ltd</p>
            <p>UK</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!--Possibly use circle images in style of original template-->
    <div class="row featurette">
        <h2 class="featurette-heading" id="internationalAdvisoryCommittee">International Advisory Committee</h2>

        <table class="table table-striped col-md-12" style="text-align: center">

            <tr>
                <td>Prof A Ayoub</td>
                <td>City University London</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Prof P Baraldi</td>
                <td>Politecnico di Milano</td>
                <td>Italy</td>
            </tr>
            <tr>
                <td>Prof S Bhattacharya</td>
                <td> University of Surrey</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Mr A Brown</td>
                <td> Nuclear Innovation and Research Office</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Prof Y Bulut</td>
                <td> Turgut Özal University</td>
                <td> Turkey</td>
            </tr>
            <tr>
                <td>Dr A Camara</td>
                <td> City University London</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Dr M Das</td>
                <td> ENERCON</td>
                <td> USA</td>
            </tr>
            <tr>
                <td>Prof F D’Auria</td>
                <td> University of Pisa</td>
                <td> Italy</td>
            </tr>
            <tr>
                <td>Dr B Dutta</td>
                <td> Bhabha Atomic Research Centre</td>
                <td> India</td>
            </tr>
            <tr>
                <td>Dr Ö Erbay</td>
                <td> MATRISeb</td>
                <td> Turkey</td>
            </tr>
            <tr>
                <td>Dr B Erkus</td>
                <td> Istanbul Technical University</td>
                <td> Turkey</td>
            </tr>
            <tr>
                <td>Prof Y Fahjan</td>
                <td> Gebze Technical University</td>
                <td> Turkey</td>
            </tr>
            <tr>
                <td>Prof D Feron</td>
                <td> Commissariat à l’énergie atomique et aux énergies alternatives</td>
                <td> France</td>
            </tr>
            <tr>
                <td>Dr N Fernando</td>
                <td> RMIT University</td>
                <td> Australia</td>
            </tr>
            <tr>
                <td>Dr W Fuchs</td>
                <td> University of Stuttgart</td>
                <td> Germany</td>
            </tr>
            <tr>
                <td>Dr S Gallocher</td>
                <td> AMEC Foster Wheeler</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Dr K Gamage</td>
                <td> Lancaster University</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Dr L Ibarra</td>
                <td>University of Utah</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>Prof N Kamran</td>
                <td>Imperial College London</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Dr G Locatelli</td>
                <td> University of Leeds</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Prof B Merk</td>
                <td> University of Liverpool</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Prof G C Park</td>
                <td> Seoul National University</td>
                <td> Korea</td>
            </tr>
            <tr>
                <td>Dr E Patelli</td>
                <td> University of Liverpool</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Prof N Prinja</td>
                <td> AMEC Foster Wheeler</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Mr K Schramm</td>
                <td> Areva GmbH</td>
                <td> Germany</td>
            </tr>
            <tr>
                <td>Dr R M Singh</td>
                <td> University of Surrey</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Prof C H Song</td>
                <td> Korea Atomic Research Insti-tute</td>
                <td> South Korea</td>
            </tr>
            <tr>
                <td>Dr K D Tsavdaridis</td>
                <td> University of Leeds</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Prof A Varma</td>
                <td> Purdue University</td>
                <td> USA</td>
            </tr>
            <tr>
                <td>Dr M Wenman</td>
                <td> Imperial College London</td>
                <td> UK</td>
            </tr>
            <tr>
                <td>Prof C Xu</td>
                <td> Shanghai Jiao Tong University</td>
                <td> China</td>
            </tr>

        </table>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <h2 class="featurette-heading" id="keyDates">Key Deadlines</h2>

        <div class="progress">
            <div id="datesProgress" class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
            </div>
        </div>

        <!-- If changing dates also change keyDeadlines variable in script.js-->
        <table class="table" style="text-align: center" id="keyDeadlinesTable">
            <tr>
                <td><p>Deadline for abstracts<br>6 Jul 2016</p></td>
                <td><p>Notification of acceptance<br>6 Aug 2016</p></td>
                <td><p>Early bird registration<br>22 Nov 2016</p></td>
                <td><p>Submission of full papers<br>4 Jan 2017</p></td>
                <td><p>Registration closes<br>22 Jan 2017</p></td>
            </tr>
        </table>

    </div>

    <hr class="featurette-divider">


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 - ASRANet &middot; <a href="index.html">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->

{% endblock %}

{% block custom_script %}
<script src="{% static "homeScript.js"%}"></script>
{% endblock %}