{% extends 'baseTemplates/infoPageBase.html' %}
{% load staticfiles %}

{% block title %}Nuclear Power Plant Conference{% endblock %}

{% block carousel %}

    <div class="col-sm-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide img-responsive" src="{% static "Images/carouselEx1.jpg" %}"
                         alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>NUPP 2017</h1>
                            <p>Jury’s Inn, Croydon, London, UK<br>
                                6th - 8th February 2017</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="second-slide img-responsive" src="{% static "Images/carouselEx2.jpg" %}"
                         alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>NUPP 2017</h1>
                            <p>1st International Conference on Nuclear Power Plants; Structures, Risk &
                                Decommissioning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
    <script src="{% static "homeScript.js" %}"></script>
{% endblock %}